$color-primario: rgb(226, 161, 39);
$color-hover: rgb(163, 113, 19);
$color-secundario: rgb(235, 232, 232);
$color-blanco: white;
$altura-header: 100px; 
$fuente-tipografica: 'Merriweather Sans', sans-serif;